{% extends 'base.html.twig' %}

{% block title %}Share your property!{% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container">
        <h2>Create a new post!</h2>
        {# This will generate the form #}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Send!</button>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block _annoucement_images_widget %}
    <p>Here you can add your pictures!</p>
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary">
            Upload
        </button>
    </div>
{% endblock %}

{% block _annoucement_images_entry_widget %}
<div class="form-group" id="block_{{ id }}">
    <div class="row">
        <div class="col-10">
            <div class="col">{{ form_widget(form.url) }}</div>
            <div class="col">{{ form_widget(form.caption) }}</div>
        </div>
        <div class="col-2">
            <button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">X</button>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#add-image').click(function () {
            // Recover future field that'll create
            const index = $('#annoucement_images div.form-group').length;
            // Recover and replace prototype entries
            const tmpl = $('#annoucement_images').data('prototype').replace(/__name__/g, index);
            // Inject this code inside the div
            $('#annoucement_images').append(tmpl);
            handleDeleteButtons();
            
        })
        function handleDeleteButtons() {
            $('button[data-action="delete"]').click(function () {
                const target = this.dataset.target;
                console.log(target);
                $(target).remove();
            });
        }
        handleDeleteButtons();
    </script>
{% endblock %}